<plist version="1.0"><dict>
<key>北京</key><string>{"province":"北京";"abbreviation":"BJ";"fullname":"BEIJING"}</string>
<key>天津</key><string>{"province":"天津";"abbreviation":"TJ";"fullname":"TIANJIN"}</string>
<key>沈阳</key><string>{"province":"辽宁";"abbreviation":"SY";"fullname":"SHENYANG"}</string>
<key>长春</key><string>{"province":"吉林";"abbreviation":"CC";"fullname":"CHANGCHUN"}</string>
<key>哈尔滨</key><string>{"province":"黑龙江";"abbreviation":"HEB";"fullname":"HAERBIN"}</string>
<key>上海</key><string>{"province":"上海";"abbreviation":"SH";"fullname":"SHANGHAI"}</string>
<key>南京</key><string>{"province":"江苏";"abbreviation":"NJ";"fullname":"NANJING"}</string>
<key>武汉</key><string>{"province":"湖北";"abbreviation":"WH";"fullname":"WUHAN"}</string>
<key>广州</key><string>{"province":"广东";"abbreviation":"GZ";"fullname":"GUANGZHOU"}</string>
<key>重庆</key><string>{"province":"重庆";"abbreviation":"CQ";"fullname":"CHONGQING"}</string>
<key>成都</key><string>{"province":"四川";"abbreviation":"CD";"fullname":"CHENGDU"}</string>
<key>西安</key><string>{"province":"陕西";"abbreviation":"XA";"fullname":"XIAN"}</string>
<key>石家庄</key><string>{"province":"河北";"abbreviation":"SJZ";"fullname":"SHIJIAZHUANG"}</string>
<key>唐山</key><string>{"province":"河北";"abbreviation":"TS";"fullname":"TANGSHAN"}</string>
<key>太原</key><string>{"province":"山西";"abbreviation":"TY";"fullname":"TAIYUAN"}</string>
<key>包头</key><string>{"province":"内蒙";"abbreviation":"BT";"fullname":"BAOTOU"}</string>
<key>大连</key><string>{"province":"辽宁";"abbreviation":"DL";"fullname":"DALIAN"}</string>
<key>鞍山</key><string>{"province":"辽宁";"abbreviation":"AS";"fullname":"ANSHAN"}</string>
<key>抚顺</key><string>{"province":"辽宁";"abbreviation":"FS";"fullname":"FUSHUN"}</string>
<key>吉林</key><string>{"province":"吉林";"abbreviation":"JL";"fullname":"JILIN"}</string>
<key>齐齐哈尔</key><string>{"province":"黑龙江";"abbreviation":"QQHE";"fullname":"QIQIHAER"}</string>
<key>徐州</key><string>{"province":"江苏";"abbreviation":"XZ";"fullname":"XUZHOU"}</string>
<key>杭州</key><string>{"province":"浙江";"abbreviation":"HZ";"fullname":"HANGZHOU"}</string>
<key>福州</key><string>{"province":"福建";"abbreviation":"FZ";"fullname":"FUZHOU"}</string>
<key>南昌</key><string>{"province":"江西";"abbreviation":"NC";"fullname":"NANCHANG"}</string>
<key>济南</key><string>{"province":"山东";"abbreviation":"JN";"fullname":"JINAN"}</string>
<key>青岛</key><string>{"province":"山东";"abbreviation":"QD";"fullname":"QINGDAO"}</string>
<key>淄博</key><string>{"province":"山东";"abbreviation":"ZB";"fullname":"ZIBO"}</string>
<key>郑州</key><string>{"province":"河南";"abbreviation":"ZZ";"fullname":"ZHENGZHOU"}</string>
<key>长沙</key><string>{"province":"湖南";"abbreviation":"CS";"fullname":"CHANGSHA"}</string>
<key>贵阳</key><string>{"province":"贵州";"abbreviation":"GY";"fullname":"GUIYANG"}</string>
<key>昆明</key><string>{"province":"云南";"abbreviation":"KM";"fullname":"KUNMING"}</string>
<key>兰州</key><string>{"province":"甘肃";"abbreviation":"LZ";"fullname":"LANZHOU"}</string>
<key>乌鲁木齐</key><string>{"province":"新疆";"abbreviation":"WLMQ";"fullname":"WULUMUQI"}</string>
<key>邯郸</key><string>{"province":"河北";"abbreviation":"HD";"fullname":"HANDAN"}</string>
<key>保定</key><string>{"province":"河北";"abbreviation":"BD";"fullname":"BAODING"}</string>
<key>张家口</key><string>{"province":"河北";"abbreviation":"ZJK";"fullname":"ZHANGJIAKOU"}</string>
<key>大同</key><string>{"province":"山西";"abbreviation":"DT";"fullname":"DATONG"}</string>
<key>呼和浩特</key><string>{"province":"内蒙";"abbreviation":"HHHT";"fullname":"HUHEHAOTE"}</string>
<key>本溪</key><string>{"province":"辽宁";"abbreviation":"BX";"fullname":"BENXI"}</string>
<key>丹东</key><string>{"province":"辽宁";"abbreviation":"DD";"fullname":"DANDONG"}</string>
<key>锦州</key><string>{"province":"辽宁";"abbreviation":"JZ";"fullname":"JINZHOU"}</string>
<key>阜新</key><string>{"province":"辽宁";"abbreviation":"FX";"fullname":"FUXIN"}</string>
<key>辽阳</key><string>{"province":"辽宁";"abbreviation":"LY";"fullname":"LIAOYANG"}</string>
<key>鸡西</key><string>{"province":"黑龙江";"abbreviation":"JX";"fullname":"JIXI"}</string>
<key>鹤岗</key><string>{"province":"黑龙江";"abbreviation":"HG";"fullname":"HEGANG"}</string>
<key>大庆</key><string>{"province":"黑龙江";"abbreviation":"DQ";"fullname":"DAQING"}</string>
<key>伊春</key><string>{"province":"黑龙江";"abbreviation":"YC";"fullname":"YICHUN1"}</string>
<key>佳木斯</key><string>{"province":"黑龙江";"abbreviation":"JMS";"fullname":"JIAMUSI"}</string>
<key>牡丹江</key><string>{"province":"黑龙江";"abbreviation":"MDJ";"fullname":"MUDANJIANG"}</string>
<key>无锡</key><string>{"province":"江苏";"abbreviation":"WX";"fullname":"WUXI"}</string>
<key>常州</key><string>{"province":"江苏";"abbreviation":"CZ";"fullname":"CHANGZHOU"}</string>
<key>苏州</key><string>{"province":"江苏";"abbreviation":"SZ";"fullname":"SUZHOU"}</string>
<key>宁波</key><string>{"province":"浙江";"abbreviation":"NB";"fullname":"NINGBO"}</string>
<key>合肥</key><string>{"province":"安徽";"abbreviation":"HF";"fullname":"HEFEI"}</string>
<key>淮南</key><string>{"province":"安徽";"abbreviation":"HN";"fullname":"HUAINAN"}</string>
<key>淮北</key><string>{"province":"安徽";"abbreviation":"HB";"fullname":"HUAIBEI"}</string>
<key>厦门</key><string>{"province":"福建";"abbreviation":"XM";"fullname":"XIAMEN"}</string>
<key>枣庄</key><string>{"province":"山东";"abbreviation":"ZZ";"fullname":"ZAOZHUANG"}</string>
<key>烟台</key><string>{"province":"山东";"abbreviation":"YT";"fullname":"YANTAI"}</string>
<key>潍坊</key><string>{"province":"山东";"abbreviation":"WH";"fullname":"WEIFANG"}</string>
<key>泰安</key><string>{"province":"山东";"abbreviation":"TA";"fullname":"TAIAN"}</string>
<key>临沂</key><string>{"province":"山东";"abbreviation":"LY";"fullname":"LINYI"}</string>
<key>开封</key><string>{"province":"河南";"abbreviation":"KF";"fullname":"KAIFENG"}</string>
<key>洛阳</key><string>{"province":"河南";"abbreviation":"LY";"fullname":"LUOYANG"}</string>
<key>平顶山</key><string>{"province":"河南";"abbreviation":"PDS";"fullname":"PINGDINGSHAN"}</string>
<key>安阳</key><string>{"province":"河南";"abbreviation":"AY";"fullname":"ANYANG"}</string>
<key>新乡</key><string>{"province":"河南";"abbreviation":"XX";"fullname":"XINXIANG"}</string>
<key>焦作</key><string>{"province":"河南";"abbreviation":"JZ";"fullname":"JIAOZUO"}</string>
<key>黄石</key><string>{"province":"湖北";"abbreviation":"HS";"fullname":"HUANGSHI"}</string>
<key>襄樊</key><string>{"province":"湖北";"abbreviation":"XF";"fullname":"XIANGFAN"}</string>
<key>荆州</key><string>{"province":"湖北";"abbreviation":"JZ";"fullname":"JINGZHOU"}</string>
<key>株洲</key><string>{"province":"湖南";"abbreviation":"ZZ";"fullname":"ZHUZHOU"}</string>
<key>湘潭</key><string>{"province":"湖南";"abbreviation":"XT";"fullname":"XIANGTAN"}</string>
<key>衡阳</key><string>{"province":"湖南";"abbreviation":"HY";"fullname":"HENGYANG"}</string>
<key>深圳</key><string>{"province":"广东";"abbreviation":"SZ";"fullname":"SHENZHEN"}</string>
<key>汕头</key><string>{"province":"广东";"abbreviation":"ST";"fullname":"SHANTOU"}</string>
<key>湛江</key><string>{"province":"广东";"abbreviation":"ZJ";"fullname":"ZHANJIANG"}</string>
<key>南宁</key><string>{"province":"广西";"abbreviation":"NN";"fullname":"NANNING"}</string>
<key>柳州</key><string>{"province":"广西";"abbreviation":"LZ";"fullname":"LIUZHOU"}</string>
<key>西宁</key><string>{"province":"青海";"abbreviation":"XN";"fullname":"XINING"}</string>
<key>秦皇岛</key><string>{"province":"河北";"abbreviation":"QHD";"fullname":"QINHUANGDAO"}</string>
<key>邢台</key><string>{"province":"河北";"abbreviation":"XT";"fullname":"XINGTAI"}</string>
<key>承德</key><string>{"province":"河北";"abbreviation":"CD";"fullname":"CHENGDE"}</string>
<key>沧州</key><string>{"province":"河北";"abbreviation":"CZ";"fullname":"CANGZHOU"}</string>
<key>廊坊</key><string>{"province":"河北";"abbreviation":"LF";"fullname":"LANGFANG"}</string>
<key>衡水</key><string>{"province":"河北";"abbreviation":"HS";"fullname":"HENGSHUI"}</string>
<key>阳泉</key><string>{"province":"山西";"abbreviation":"YQ";"fullname":"YANGQUAN"}</string>
<key>长治</key><string>{"province":"山西";"abbreviation":"CZ";"fullname":"CHANGZHI"}</string>
<key>乌海</key><string>{"province":"内蒙";"abbreviation":"WH";"fullname":"WUHAI"}</string>
<key>赤峰</key><string>{"province":"内蒙";"abbreviation":"CF";"fullname":"CHIFENG"}</string>
<key>营口</key><string>{"province":"辽宁";"abbreviation":"YK";"fullname":"YINGKOU"}</string>
<key>盘锦</key><string>{"province":"辽宁";"abbreviation":"PJ";"fullname":"PANJIN"}</string>
<key>铁岭</key><string>{"province":"辽宁";"abbreviation":"TL";"fullname":"TIELING"}</string>
<key>朝阳</key><string>{"province":"辽宁";"abbreviation":"ZY";"fullname":"CHAOYANG"}</string>
<key>葫芦岛</key><string>{"province":"辽宁";"abbreviation":"HLD";"fullname":"HULUDAO"}</string>
<key>四平</key><string>{"province":"吉林";"abbreviation":"SP";"fullname":"SIPING"}</string>
<key>辽源</key><string>{"province":"吉林";"abbreviation":"LY";"fullname":"LIAOYUAN"}</string>
<key>通化</key><string>{"province":"吉林";"abbreviation":"TH";"fullname":"TONGHUA"}</string>
<key>白山</key><string>{"province":"吉林";"abbreviation":"BS";"fullname":"BAISHAN"}</string>
<key>松原</key><string>{"province":"吉林";"abbreviation":"SS";"fullname":"SONGYUAN"}</string>
<key>白城</key><string>{"province":"吉林";"abbreviation":"BC";"fullname":"BAICHENG"}</string>
<key>双鸭山</key><string>{"province":"黑龙江";"abbreviation":"SYS";"fullname":"SHUANGYASHAN"}</string>
<key>七台河</key><string>{"province":"黑龙江";"abbreviation":"QTH";"fullname":"QITAIHE"}</string>
<key>南通</key><string>{"province":"江苏";"abbreviation":"NT";"fullname":"NANTONG"}</string>
<key>连云港</key><string>{"province":"江苏";"abbreviation":"LYG";"fullname":"LIANYUNGANG"}</string>
<key>淮阴</key><string>{"province":"江苏";"abbreviation":"HY";"fullname":"HUAIYIN"}</string>
<key>盐城</key><string>{"province":"江苏";"abbreviation":"YC";"fullname":"YANCHENG"}</string>
<key>扬州</key><string>{"province":"江苏";"abbreviation":"YZ";"fullname":"YANGZHOU"}</string>
<key>镇江</key><string>{"province":"江苏";"abbreviation":"ZZ";"fullname":"ZHENJIANG"}</string>
<key>泰州</key><string>{"province":"江苏";"abbreviation":"TZ";"fullname":"TAIZHOU"}</string>
<key>温州</key><string>{"province":"浙江";"abbreviation":"WZ";"fullname":"WENZHOU"}</string>
<key>嘉兴</key><string>{"province":"浙江";"abbreviation":"JX";"fullname":"JIAXING"}</string>
<key>湖州</key><string>{"province":"浙江";"abbreviation":"HZ";"fullname":"HUZHOU"}</string>
<key>绍兴</key><string>{"province":"浙江";"abbreviation":"SX";"fullname":"SHAOXING"}</string>
<key>台州</key><string>{"province":"浙江";"abbreviation":"TZ";"fullname":"TAIZHOU1"}</string>
<key>芜湖</key><string>{"province":"安徽";"abbreviation":"WH";"fullname":"WUHU"}</string>
<key>蚌埠</key><string>{"province":"安徽";"abbreviation":"BB";"fullname":"BENGBU"}</string>
<key>马鞍山</key><string>{"province":"安徽";"abbreviation":"MAS";"fullname":"MAANSHAN"}</string>
<key>铜陵</key><string>{"province":"安徽";"abbreviation":"TL";"fullname":"TONGLING"}</string>
<key>安庆</key><string>{"province":"安徽";"abbreviation":"AQ";"fullname":"ANQING"}</string>
<key>阜阳</key><string>{"province":"安徽";"abbreviation":"BY";"fullname":"FUYANG"}</string>
<key>泉州</key><string>{"province":"福建";"abbreviation":"QZ";"fullname":"QUANZHOU"}</string>
<key>漳州</key><string>{"province":"福建";"abbreviation":"ZZ";"fullname":"ZHANGZHOU"}</string>
<key>南平</key><string>{"province":"福建";"abbreviation":"NP";"fullname":"NANPING"}</string>
<key>龙岩</key><string>{"province":"福建";"abbreviation":"LY";"fullname":"LONGYAN"}</string>
<key>景德镇</key><string>{"province":"江西";"abbreviation":"JDZ";"fullname":"JINGDEZHEN"}</string>
<key>萍乡</key><string>{"province":"江西";"abbreviation":"PX";"fullname":"PINGXIANG"}</string>
<key>九江</key><string>{"province":"江西";"abbreviation":"JJ";"fullname":"JIUJIANG"}</string>
<key>新余</key><string>{"province":"江西";"abbreviation":"XY";"fullname":"XINYU"}</string>
<key>东营</key><string>{"province":"山东";"abbreviation":"DY";"fullname":"DONGYING"}</string>
<key>济宁</key><string>{"province":"山东";"abbreviation":"JN";"fullname":"JINING"}</string>
<key>威海</key><string>{"province":"山东";"abbreviation":"WH";"fullname":"WEIHAI"}</string>
<key>日照</key><string>{"province":"山东";"abbreviation":"RZ";"fullname":"RIZHAO"}</string>
<key>莱芜</key><string>{"province":"山东";"abbreviation":"LW";"fullname":"LAIWU"}</string>
<key>德州</key><string>{"province":"山东";"abbreviation":"DZ";"fullname":"DEZHOU"}</string>
<key>鹤壁</key><string>{"province":"河南";"abbreviation":"HB";"fullname":"HEBI"}</string>
<key>濮阳</key><string>{"province":"河南";"abbreviation":"PY";"fullname":"PUYANG"}</string>
<key>许昌</key><string>{"province":"河南";"abbreviation":"XC";"fullname":"XUCHANG"}</string>
<key>漯河</key><string>{"province":"河南";"abbreviation":"LH";"fullname":"LUOHE"}</string>
<key>南阳</key><string>{"province":"河南";"abbreviation":"NY";"fullname":"NANYANG"}</string>
<key>商丘</key><string>{"province":"河南";"abbreviation":"SQ";"fullname":"SHANGQIU"}</string>
<key>十堰</key><string>{"province":"湖北";"abbreviation":"SY";"fullname":"SHIYAN"}</string>
<key>宜昌</key><string>{"province":"湖北";"abbreviation":"YC";"fullname":"YICHANG"}</string>
<key>鄂州</key><string>{"province":"湖北";"abbreviation":"EZ";"fullname":"EZHOU"}</string>
<key>荆门</key><string>{"province":"湖北";"abbreviation":"JM";"fullname":"JINGMEN"}</string>
<key>孝感</key><string>{"province":"湖北";"abbreviation":"XG";"fullname":"XIAOGAN"}</string>
<key>黄冈</key><string>{"province":"湖北";"abbreviation":"HG";"fullname":"HUANGGANG"}</string>
<key>邵阳</key><string>{"province":"湖南";"abbreviation":"SY";"fullname":"SHAOYANG"}</string>
<key>岳阳</key><string>{"province":"湖南";"abbreviation":"YY";"fullname":"YUEYANG"}</string>
<key>常德</key><string>{"province":"湖南";"abbreviation":"CD";"fullname":"CHANGDE"}</string>
<key>益阳</key><string>{"province":"湖南";"abbreviation":"YY";"fullname":"YIYANG"}</string>
<key>郴州</key><string>{"province":"湖南";"abbreviation":"CZ";"fullname":"CHENZHOU"}</string>
<key>永州</key><string>{"province":"湖南";"abbreviation":"YZ";"fullname":"YONGZHOU"}</string>
<key>怀化</key><string>{"province":"湖南";"abbreviation":"HH";"fullname":"HUAIHUA"}</string>
<key>韶关</key><string>{"province":"广东";"abbreviation":"SG";"fullname":"SHAOGUAN"}</string>
<key>珠海</key><string>{"province":"广东";"abbreviation":"ZH";"fullname":"ZHUHAI"}</string>
<key>佛山</key><string>{"province":"广东";"abbreviation":"FS";"fullname":"FOSHAN"}</string>
<key>江门</key><string>{"province":"广东";"abbreviation":"JM";"fullname":"JIANGMEN"}</string>
<key>茂名</key><string>{"province":"广东";"abbreviation":"MM";"fullname":"MAOMING"}</string>
<key>肇庆</key><string>{"province":"广东";"abbreviation":"ZQ";"fullname":"ZHAOQING"}</string>
<key>惠州</key><string>{"province":"广东";"abbreviation":"HZ";"fullname":"HUIZHOU"}</string>
<key>梅州</key><string>{"province":"广东";"abbreviation":"MZ";"fullname":"MEIZHOU"}</string>
<key>阳江</key><string>{"province":"广东";"abbreviation":"YJ";"fullname":"YANGJIANG"}</string>
<key>东莞</key><string>{"province":"广东";"abbreviation":"DG";"fullname":"DONGGUAN"}</string>
<key>中山</key><string>{"province":"广东";"abbreviation":"ZS";"fullname":"ZHONGSHAN"}</string>
<key>潮州</key><string>{"province":"广东";"abbreviation":"CZ";"fullname":"CHAOZHOU"}</string>
<key>桂林</key><string>{"province":"广西";"abbreviation":"GL";"fullname":"GUILIN"}</string>
<key>梧州</key><string>{"province":"广西";"abbreviation":"WZ";"fullname":"WUZHOU"}</string>
<key>贵港</key><string>{"province":"广西";"abbreviation":"GG";"fullname":"GUIGANG"}</string>
<key>海口</key><string>{"province":"海南";"abbreviation":"HK";"fullname":"HAIKOU"}</string>
<key>自贡</key><string>{"province":"四川";"abbreviation":"ZG";"fullname":"ZIGONG"}</string>
<key>攀枝花</key><string>{"province":"四川";"abbreviation":"PZH";"fullname":"PANZHIHUA"}</string>
<key>泸州</key><string>{"province":"四川";"abbreviation":"LZ";"fullname":"LUZHOU"}</string>
<key>德阳</key><string>{"province":"四川";"abbreviation":"DY";"fullname":"DEYANG"}</string>
<key>绵阳</key><string>{"province":"四川";"abbreviation":"MY";"fullname":"MIANYANG"}</string>
<key>广元</key><string>{"province":"四川";"abbreviation":"GY";"fullname":"GUANGYUAN"}</string>
<key>遂宁</key><string>{"province":"四川";"abbreviation":"SN";"fullname":"SUINING"}</string>
<key>内江</key><string>{"province":"四川";"abbreviation":"NJ";"fullname":"NEIJIANG"}</string>
<key>乐山</key><string>{"province":"四川";"abbreviation":"LS";"fullname":"LESHAN"}</string>
<key>南充</key><string>{"province":"四川";"abbreviation":"NC";"fullname":"NANCHONG"}</string>
<key>宜宾</key><string>{"province":"四川";"abbreviation":"YB";"fullname":"YIBIN"}</string>
<key>六盘水</key><string>{"province":"贵州";"abbreviation":"LPS";"fullname":"LIUPANSHUI"}</string>
<key>遵义</key><string>{"province":"贵州";"abbreviation":"ZY";"fullname":"ZUNYI"}</string>
<key>曲靖</key><string>{"province":"云南";"abbreviation":"QQ";"fullname":"QUJING"}</string>
<key>铜川</key><string>{"province":"陕西";"abbreviation":"TC";"fullname":"TONGCHUAN"}</string>
<key>宝鸡</key><string>{"province":"陕西";"abbreviation":"BJ";"fullname":"BAOJI"}</string>
<key>咸阳</key><string>{"province":"陕西";"abbreviation":"XY";"fullname":"XIANYANG"}</string>
<key>汉中</key><string>{"province":"陕西";"abbreviation":"HZ";"fullname":"HANZHONG"}</string>
<key>白银</key><string>{"province":"甘肃";"abbreviation":"BY";"fullname":"BAIYIN"}</string>
<key>天水</key><string>{"province":"甘肃";"abbreviation":"TS";"fullname":"TIANSHUI"}</string>
<key>银川</key><string>{"province":"宁夏";"abbreviation":"YC";"fullname":"YINCHUAN"}</string>
<key>石嘴山</key><string>{"province":"宁夏";"abbreviation":"SZS";"fullname":"SHIZUISHAN"}</string>
<key>克拉玛依</key><string>{"province":"新疆";"abbreviation":"KLMY";"fullname":"KELAMAYI"}</string>
<key>晋城</key><string>{"province":"山西";"abbreviation":"JC";"fullname":"JINCHENG"}</string>
<key>朔州</key><string>{"province":"山西";"abbreviation":"SZ";"fullname":"SHUOZHOU"}</string>
<key>通辽</key><string>{"province":"内蒙";"abbreviation":"TL";"fullname":"TONGLIAO"}</string>
<key>黑河</key><string>{"province":"黑龙江";"abbreviation":"HH";"fullname":"HEIHE"}</string>
<key>宿迁</key><string>{"province":"江苏";"abbreviation":"SQ";"fullname":"SUQIAN"}</string>
<key>金华</key><string>{"province":"浙江";"abbreviation":"JH";"fullname":"JINHUA"}</string>
<key>衢州</key><string>{"province":"浙江";"abbreviation":"QZ";"fullname":"QUZHOU"}</string>
<key>舟山</key><string>{"province":"浙江";"abbreviation":"ZS";"fullname":"ZHOUSHAN"}</string>
<key>黄山</key><string>{"province":"安徽";"abbreviation":"HS";"fullname":"HUANGSHAN"}</string>
<key>滁州</key><string>{"province":"安徽";"abbreviation":"CZ";"fullname":"CHUZHOU"}</string>
<key>宿州</key><string>{"province":"安徽";"abbreviation":"SZ";"fullname":"SUZHOU1"}</string>
<key>巢湖</key><string>{"province":"安徽";"abbreviation":"CH";"fullname":"CHAOHU"}</string>
<key>六安</key><string>{"province":"安徽";"abbreviation":"LA";"fullname":"LIUAN"}</string>
<key>莆田</key><string>{"province":"福建";"abbreviation":"PT";"fullname":"PUTIAN"}</string>
<key>三明</key><string>{"province":"福建";"abbreviation":"SM";"fullname":"SANMING"}</string>
<key>鹰潭</key><string>{"province":"江西";"abbreviation":"YT";"fullname":"YINGTAN"}</string>
<key>赣州</key><string>{"province":"江西";"abbreviation":"GZ";"fullname":"GANZHOU"}</string>
<key>聊城</key><string>{"province":"山东";"abbreviation":"LC";"fullname":"LIAOCHENG"}</string>
<key>三门峡</key><string>{"province":"河南";"abbreviation":"SMX";"fullname":"SANMENXIA"}</string>
<key>信阳</key><string>{"province":"河南";"abbreviation":"XY";"fullname":"XINYANG"}</string>
<key>咸宁</key><string>{"province":"湖北";"abbreviation":"XN";"fullname":"XIANNING"}</string>
<key>张家界</key><string>{"province":"湖南";"abbreviation":"ZJJ";"fullname":"ZHANGJIAJIE"}</string>
<key>娄底</key><string>{"province":"湖南";"abbreviation":"LD";"fullname":"LOUDI"}</string>
<key>汕尾</key><string>{"province":"广东";"abbreviation":"SW";"fullname":"SHANWEI"}</string>
<key>河源</key><string>{"province":"广东";"abbreviation":"HY";"fullname":"HEYUAN"}</string>
<key>清远</key><string>{"province":"广东";"abbreviation":"QY";"fullname":"QINGYUAN"}</string>
<key>揭阳</key><string>{"province":"广东";"abbreviation":"JY";"fullname":"JIEYANG"}</string>
<key>云浮</key><string>{"province":"广东";"abbreviation":"YH";"fullname":"YUNFU"}</string>
<key>北海</key><string>{"province":"广西";"abbreviation":"BH";"fullname":"BEIHAI"}</string>
<key>防城港</key><string>{"province":"广西";"abbreviation":"FCG";"fullname":"FANGCHENGGANG"}</string>
<key>钦州</key><string>{"province":"广西";"abbreviation":"QZ";"fullname":"QINZHOU"}</string>
<key>玉林</key><string>{"province":"广西";"abbreviation":"YL";"fullname":"YULIN"}</string>
<key>三亚</key><string>{"province":"海南";"abbreviation":"SY";"fullname":"SANYA"}</string>
<key>达州</key><string>{"province":"四川";"abbreviation":"DZ";"fullname":"DAZHOU"}</string>
<key>玉溪</key><string>{"province":"云南";"abbreviation":"YX";"fullname":"YUXI"}</string>
<key>渭南</key><string>{"province":"陕西";"abbreviation":"WN";"fullname":"WEINAN"}</string>
<key>延安</key><string>{"province":"陕西";"abbreviation":"YA";"fullname":"YANAN"}</string>
<key>榆林</key><string>{"province":"陕西";"abbreviation":"YL";"fullname":"YULIN1"}</string>
<key>嘉峪关</key><string>{"province":"甘肃";"abbreviation":"JYG";"fullname":"JIAYUGUAN"}</string>
<key>金昌</key><string>{"province":"甘肃";"abbreviation":"JC";"fullname":"JINCHANG"}</string>
</dict></plist>